<!DOCTYPE html>
<html>
  <head>
    <title>AD310-RPI 설정</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" href="../vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="../css/neumorphism.css" rel="stylesheet">
    <script src="../vendor/nouislider/distribute/nouislider.min.js"></script>

    <script>
      window.onload = function() {
        require('../logic/config');
      }
    </script>
    <style>
      .form-check-label {
        width: 30% !important;
      }

      /*input number type 화살표 없애기*/
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    </style>

  </head>
  <body>
    <div class="p-3">
      <!--헤더-->
      <div class="position-relative mt-2 mb-2">
        <span class="display-2">설정</span>
        <span>ROM Ver. </span><span id="romVer"></span>
        <div class="d-inline" style="float:right;">
          <button target="_blank" class="btn btn-primary mr-3" style="float:right;" id="closeConfigWindow">뒤로</button>
          <button target="_blank" class="btn btn-primary mr-3" style="float:right;" id="configOk">변경</button>
        </div>
      </div>

      <!--내용-->
      <div class="row mt-4">
        <div class="col">
          <div class="card bg-primarvy shadow-soft border-light">
            <!--통신설정-->
            <div id="serialDiv" class="row p-3">
              <div class="offset-1">
              </div>
              <div class="col-12 col-sm-4 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary mt-2">
                    <h1 class="display-4 mb-3">Baudrate</h1>
                    <h1 class="display-4">Databits</h1>
                    <h1 class="display-4">Parity</h1>
                    <h1 class="display-4">Stopbits</h1>
                    <h1 class="display-4">Terminator</h1>
                </div>
              </div>
              <div class="col-12 col-sm-7 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary">
                  <div class="bg-primary mt-1 w-50">
                    <select id="baudrateSelect" class="custom-select mr-sm-2">
                        <option value="24">2400</option>
                        <option value="48">4800</option>
                        <option value="96">9600</option>
                        <option value="192">19200</option>
                        <option value="384">38400</option>
                    </select>
                  </div>
                  <div class="bg-primary mt-3">
                    <fieldset>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="dataBitsRadios" id="dataBitsRadios1" value="7" checked="">
                          <label class="form-check-label" for="dataBitsRadios1">
                            7bits
                          </label>

                          <input class="form-check-input" type="radio" name="dataBitsRadios" id="dataBitsRadios2" value="8">
                          <label class="form-check-label" for="dataBitsRadios2">
                            8bits
                          </label>
                        </div>
                    </fieldset>
                  </div>
                  <div class="bg-primary mt-3">
                    <fieldset>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="parityRadios" id="parityRadios1" value="0" checked="">
                          <label class="form-check-label" for="parityRadios1">
                            None
                          </label>

                          <input class="form-check-input" type="radio" name="parityRadios" id="parityRadios2" value="1">
                          <label class="form-check-label" for="parityRadios2">
                            Odd
                          </label>

                          <input class="form-check-input" type="radio" name="parityRadios" id="parityRadios3" value="2">
                          <label class="form-check-label" for="parityRadios3">
                            Even
                          </label>
                        </div>
                    </fieldset>
                  </div>
                  <div class="bg-primary mt-3">
                    <fieldset>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="stopbitsRadios" id="stopbitsRadios1" value="1" checked="">
                          <label class="form-check-label" for="stopbitsRadios1">
                            1bit
                          </label>

                          <input class="form-check-input" type="radio" name="stopbitsRadios" id="stopbitsRadios2" value="2">
                          <label class="form-check-label" for="stopbitsRadios2">
                            2bits
                          </label>
                        </div>
                    </fieldset>
                  </div>
                  <div class="bg-primary mt-3">
                    <fieldset>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="terminatorRadios" id="terminatorRadios1" value="1" checked="">
                          <label class="form-check-label" for="terminatorRadios1">
                            CRLF
                          </label>

                          <input class="form-check-input" type="radio" name="terminatorRadios" id="terminatorRadios2" value="2">
                          <label class="form-check-label" for="terminatorRadios2">
                            CR
                          </label>
                        </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>

            <!--기본설정 좌-->
            <div id="basicLeftDiv" class="row p-3" style="display:none">
              <div class="offset-1">
              </div>
              <div class="col-12 col-sm-4 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary mt-2">
                    <h1 class="display-4 mb-3">디지털 필터</h1>
                    <h1 class="display-4 mb-3">홀드 모드</h1>
                    <h1 class="display-4 mb-3">평균화 시간</h1>
                </div>
              </div>
              <div class="col-12 col-sm-7 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary">
                  <div class="bg-primary w-75">
                    <select id="digitalFilterSelect" class="custom-select mr-sm-2">
                        <option value="0">없음</option>
                        <option value="1">2.5Hz</option>
                        <option value="2">2.0Hz</option>
                        <option value="3">1.5Hz</option>
                        <option value="4">1.0Hz</option>
                        <option value="5">0.7Hz</option>
                        <option value="6">0.5Hz</option>
                        <option value="7">0.35Hz</option>
                        <option value="8">0.25Hz</option>
                        <option value="9">0.20Hz</option>
                        <option value="10">0.15Hz</option>
                        <option value="11">0.10Hz</option>
                    </select>
                  </div>
                  <div class="bg-primary mt-1 w-75">
                    <select id="holdModeSelect" class="custom-select mr-sm-2">
                        <option value="0">홀드하지 않음</option>
                        <option value="1">샘플 홀드</option>
                        <option value="2">피크 홀드</option>
                        <option value="3">버튼 홀드</option>
                        <option value="4">양극성, 피크 홀드</option>
                    </select>
                  </div>
                  <div class="bg-primary ml-3 mt-2 w-100">
                    <div class="w-50 d-inline-block" id="averageTimeSlider"></div>
                    <span class="ml-3" id="averageTimeSliderValue"></span>
                  </div>
                </div>
              </div>
            </div>

            <!--기본설정 우-->
            <div id="basicRightDiv" class="row p-3" style="display:none">
              <div class="offset-1">
              </div>
              <div class="col-12 col-sm-4 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary mt-2">
                    <h1 class="display-4 mb-3">제로 확보 범위</h1>
                    <h1 class="display-4 mb-3">영점 트래킹 시간</h1>
                    <h1 class="display-4 mb-3">영점 트래킹 폭</h1>
                    <h1 class="display-4 mb-3">파워 온 제로</h1>
                </div>
              </div>
              <div class="col-12 col-sm-7 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary">
                  <div class="bg-primary mb-2 pt-1 w-100">
                    <div class="w-50 d-inline-block" id="zeroRangeSlider"></div>
                    <span class="ml-3" id="zeroRangeSliderValue"></span>
                  </div>
                  <div class="bg-primary mb-2 pt-1 w-100">
                    <div class="w-50 d-inline-block" id="zeroTrackingTimeSlider"></div>
                    <span class="ml-3" id="zeroTrackingTimeSliderValue"></span>
                  </div>
                  <div class="bg-primary mb-3 pt-1 w-100">
                    <div class="w-50 d-inline-block" id="zeroTrackingWidthSlider"></div>
                    <span class="ml-3" id="zeroTrackingWidthSliderValue"></span>
                  </div>
                  <div class="bg-primary mb-2 pt-1">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="powerOnZeroToggle">
                      <label class="custom-control-label" for="powerOnZeroToggle"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--외부출력-->
            <div id="externalPrintDiv" class="row p-3" style="display:none">
              <div class="offset-1">
              </div>
              <div class="col-12 col-sm-4 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary mt-2">
                    <!-- <h1 class="display-4 mb-3">Baudrate</h1> -->
                    <h1 class="display-4 mb-3">출력조건</h1>
                    <h1 class="display-4 mb-3">설정값</h1>
                    <h1 class="display-4 mb-3">비교모드</h1>
                    <h1 class="display-4 mb-3">영점부근비교</h1>
                </div>
              </div>
              <div class="col-12 col-sm-7 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary">
                  <div class="bg-primary mt-2">
                    <fieldset>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="printConditionRadios" id="printConditionRadios1" value="0" checked="">
                          <label class="form-check-label" for="printConditionRadios1">
                            설정값 초과
                          </label>

                          <input class="form-check-input" type="radio" name="printConditionRadios" id="printConditionRadios2" value="1">
                          <label class="form-check-label" for="printConditionRadios2">
                            설정값 미만
                          </label>
                        </div>
                    </fieldset>
                  </div>

                  <div class="bg-primary mt-3 ml-1">
                    <input type="number" id="configValueText" min="-99999" max="99999">
                    <button class="btn btn-pill btn-primary" type="button" id="configValueStepUp">
                      <span class="fas fa-angle-up dropup-arrow"></span>
                    </button>
                    <button class="btn btn-pill btn-primary" type="button" id="configValueStepDown">
                      <span class="fas fa-angle-down dropdown-arrow"></span>
                    </button>
                    <div class="bg-primary d-inline-block mt-1 w-40">
                      <select id="configValueOptionSelect" class="custom-select mr-sm-2">
                          <option value="1" selected>1</option>
                          <option value="10">10</option>
                          <option value="100">100</option>
                          <option value="1000">1000</option>
                          <option value="10000">10000</option>
                      </select>
                    </div>
                  </div>

                  <div class="bg-primary mt-2">
                    <fieldset>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="comparatorModeRadios" id="comparatorModeRadios1" value="0" checked="">
                          <label class="form-check-label" for="comparatorModeRadios1">
                            비교X
                          </label>

                          <input class="form-check-input" type="radio" name="comparatorModeRadios" id="comparatorModeRadios2" value="1">
                          <label class="form-check-label" for="comparatorModeRadios2">
                            영점 부근 이외
                          </label>

                          <input class="form-check-input" type="radio" name="comparatorModeRadios" id="comparatorModeRadios3" value="2">
                          <label class="form-check-label" for="comparatorModeRadios3">
                            항상
                          </label>
                        </div>
                    </fieldset>
                  </div>

                  <div class="bg-primary mt-3 ml-1">
                    <input type="number" id="nearZeroText" min="-99999" max="99999">
                    <button class="btn btn-pill btn-primary" type="button" id="nearZeroStepUp">
                      <span class="fas fa-angle-up dropup-arrow"></span>
                    </button>
                    <button class="btn btn-pill btn-primary" type="button" id="nearZeroStepDown">
                      <span class="fas fa-angle-down dropdown-arrow"></span>
                    </button>
                    <div class="bg-primary d-inline-block mt-1 w-40">
                      <select id="nearZeroOptionSelect" class="custom-select mr-sm-2">
                          <option value="1" selected>1</option>
                          <option value="10">10</option>
                          <option value="100">100</option>
                          <option value="1000">1000</option>
                          <option value="10000">10000</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--교정설정-->
            <div id="calibrationConfigDiv" class="row p-3" style="display:none">
              <div class="offset-1">
              </div>
              <div class="col-12 col-sm-4 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary mt-2">
                    <h1 class="display-4 mb-3">CAPA(최대용량)</h1>
                    <h1 class="display-4 mb-3">DIV(최소눈금)</h1>
                    <h1 class="display-4 mb-3">소수점</h1>
                    <h1 class="display-4 mb-3">단위</h1>
                </div>
              </div>
              <div class="col-12 col-sm-7 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary">
                  <div class="bg-primary mb-1">
                      <input type="number" id="capaText" min="1" max="99999">
                      <button class="btn btn-pill btn-primary" type="button" id="capaStepUp">
                        <span class="fas fa-angle-up dropup-arrow"></span>
                      </button>
                      <button class="btn btn-pill btn-primary" type="button" id="capaStepDown">
                        <span class="fas fa-angle-down dropdown-arrow"></span>
                      </button>
                      <div class="bg-primary d-inline-block mt-1 w-40">
                        <select id="capaOptionSelect" class="custom-select mr-sm-2">
                            <option value="1" selected>1</option>
                            <option value="10">10</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                            <option value="10000">10000</option>
                        </select>
                      </div>
                  </div>
                  <div class="bg-primary mb-1 w-75">
                    <select id="divSelect" class="custom-select mr-sm-2">
                        <option value="1">1눈금</option>
                        <option value="2">2눈금</option>
                        <option value="5">5눈금</option>
                        <option value="10">10눈금</option>
                        <option value="20">20눈금</option>
                        <option value="50">50눈금</option>
                    </select>
                  </div>
                  <div class="bg-primary mb-1 w-75">
                    <select id="decimalPointSelect" class="custom-select mr-sm-2">
                        <option value="0">1234</option>
                        <option value="1">123.4</option>
                        <option value="2">12.34</option>
                        <option value="3">1.234</option>
                    </select>
                  </div>
                  <div class="bg-primary mb-1 w-75">
                    <select id="unitSelect" class="custom-select mr-sm-2">
                        <option value="0">없음</option>
                        <option value="1">그램(g)</option>
                        <option value="2">킬로그램(kg)</option>
                        <option value="3">톤(t)</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!--교정(CAL0, CALF)-->
            <div id="calDiv" class="row p-3" style="display:none">
              <div class="col-12 col-sm-6 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary my-2 text-center">
                  <h1 class="display-4 mb-3">CAL 0</h1>
                  <label class="">
                    무부하 상태에서 "CAL 0" 버튼을 클릭합니다.
                  </label>
                  <button class="btn btn-primary mr-3" id="calZeroButton">CAL 0</button>
                  <h4 class="mb-3" id="checkCalZero"></h4>
                </div>
              </div>
              <div class="col-12 col-sm-6 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary my-2 text-center">
                  <h1 class="display-4 mb-3">CAL F</h1>
                  <label class="">
                    SPAN 값을 입력하고 로드셀에 분동을 올린 후 </br>"CAL F" 버튼을 클릭합니다.
                  </label>
                  <button class="btn btn-primary mr-3" id="calSpanButton">CAL F</button>
                  <h4 class="mb-3" id="checkCalSpan"></h4>
                </div>
                <div class="bg-primary mt-1">
                    <input type="number" id="spanValueText" min="-99999" max="99999">
                    <button class="btn btn-pill btn-primary" type="button" id="spanValueStepUp">
                      <span class="fas fa-angle-up dropup-arrow"></span>
                    </button>
                    <button class="btn btn-pill btn-primary" type="button" id="spanValueStepDown">
                      <span class="fas fa-angle-down dropdown-arrow"></span>
                    </button>
                    <div class="bg-primary d-inline-block mt-1 w-40">
                      <select id="spanValueOptionSelect" class="custom-select mr-sm-2">
                          <option value="1" selected>1</option>
                          <option value="10">10</option>
                          <option value="100">100</option>
                          <option value="1000">1000</option>
                          <option value="10000">10000</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>

            <!--초기화-->
            <div id="initDiv" class="row p-3" style="display:none">
              <div class="col-12 col-sm-6 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary my-2 text-center">
                  <h1 class="display-4 mb-3">F 펑션 초기화</h1>
                  <h4 class="mb-3">통신/기본(좌)/외부출력 초기화</h4>
                  <button class="btn btn-primary mr-3" id="initFunctionFButton">초기화</br>적용</button>
                </div>
              </div>
              <div class="col-12 col-sm-6 px-md-0 mb-4 mb-sm-0">
                <div class="bg-primary my-2 text-center">
                  <h1 class="display-4 mb-3">모든 설정 초기화</h1>
                  <h4 class="mb-3">통신/기본/외부출력/교정 초기화</h4>
                  <button class="btn btn-primary mr-3" id="initConfigButton">초기화</br>적용</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--하단 종류 탭-->
      <div class="position-relative mt-2 mb-2">
        <div class="d-inline" style="float:right;">
          <button class="btn btn-primary mr-3" style="float:right;" id="initButton">초기화</button>
          <button class="btn btn-primary mr-3" style="float:right;" id="calButton">교정</button>
          <button class="btn btn-primary mr-3" style="float:right;" id="calibrationConfigButton">교정설정</button>
          <button class="btn btn-primary mr-3" style="float:right;" id="externalPrintConfigButton">외부출력</button>
          <button class="btn btn-primary mr-3" style="float:right;" id="basicRightConfigButton">기본(우)</button>
          <button class="btn btn-primary mr-3" style="float:right;" id="basicLeftConfigButton">기본(좌)</button>
          <button class="btn btn-primary mr-3 active" style="float:right;" id="serialConfigButton">통신</button>
        </div>
      </div>
    </div>
  </body>
</html>
