<!DOCTYPE html>
<html>
  <head>
    <title>AD310-RPI 기기설정</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" href="../css/neumorphism.css" rel="stylesheet">

    <script>
      window.onload = function() {
        require('../logic/pcconfig');
      }
    </script>
    <style>
      .form-check-label {
        width: 30% !important;
      }
    </style>
  </head>
  <body>
    <div class="p-3">
      <div class="position-relative my-2 ml-3">
        <span class="display-2" style="font-size:2.5em">기기 설정</span>
        <div class="d-inline" style="float:right;">
          <a target="_blank" class="btn btn-primary mr-3" style="float:right;" id="pCConfigCloseButton">뒤로</a>
          <a target="_blank" class="btn btn-primary mr-3" style="float:right;" id="pcConfigOkButton">변경</a>
        </div>
      </div>

      <div class="row mt-4">
          <div class="col">
              <div class="card bg-primary shadow-soft border-light">
                  <div class="row p-3">
                      <div class="offset-1">
                      </div>
                      <div class="col-12 col-sm-4 px-md-0 mb-4 mb-sm-0">
                          <div class="bg-primary mt-3">
                              <h1 class="display-4 mb-3">Port</h1>
                              <h1 class="display-4 mb-3">Baudrate</h1>
                              <h1 class="display-4 mb-3">Databits</h1>
                              <h1 class="display-4 mb-3">Parity</h1>
                              <h1 class="display-4 mb-3">Stopbits</h1>
                              <h1 class="display-4">Terminator</h1>
                          </div>
                      </div>
                      <div class="col-12 col-sm-7 px-md-0 mb-4 mb-sm-0">
                        <div class="bg-primary mt-2">
                          <div class="bg-primary mb-3 w-50">
                            <select id="portSelect" class="custom-select mr-sm-2">
                            </select>
                          </div>
                          <div class="bg-primary mb-3 w-50">
                            <select id="baudrateSelect" class="custom-select mr-sm-2">
                                <option value="24">2400</option>
                                <option value="48">4800</option>
                                <option value="96">9600</option>
                                <option value="192">19200</option>
                                <option value="384">38400</option>
                            </select>
                          </div>
                          <div class="bg-primary mb-4">
                            <fieldset>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="dataBitsRadios" id="dataBitsRadios1" value="7">
                                  <label class="form-check-label" for="dataBitsRadios1">
                                    7bits
                                  </label>

                                  <input class="form-check-input" type="radio" name="dataBitsRadios" id="dataBitsRadios2" value="8">
                                  <label class="form-check-label" for="dataBitsRadios2">
                                    8bits
                                  </label>
                                </div>
                              <!-- End of Radio -->
                            </fieldset>
                          </div>
                          <div class="bg-primary mb-4">
                            <fieldset>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="parityRadios" id="parityRadios1" value="0">
                                  <label class="form-check-label" for="parityRadios1">
                                    None
                                  </label>

                                  <input class="form-check-input" type="radio" name="parityRadios" id="parityRadios2" value="1">
                                  <label class="form-check-label" for="parityRadios2">
                                    Odd
                                  </label>

                                  <input class="form-check-input" type="radio" name="parityRadios" id="parityRadios3" value="2">
                                  <label class="form-check-label" for="parityRadios3">
                                    Even
                                  </label>
                                </div>
                              <!-- End of Radio -->
                            </fieldset>
                          </div>
                          <div class="bg-primary mb-4">
                            <fieldset>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="stopbitsRadios" id="stopbitsRadios1" value="1">
                                  <label class="form-check-label" for="stopbitsRadios1">
                                    1bit
                                  </label>

                                  <input class="form-check-input" type="radio" name="stopbitsRadios" id="stopbitsRadios2" value="2">
                                  <label class="form-check-label" for="stopbitsRadios2">
                                    2bits
                                  </label>
                                </div>
                              <!-- End of Radio -->
                            </fieldset>
                          </div>
                          <div class="bg-primary mb-4">
                            <fieldset>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="terminatorRadios" id="terminatorRadios1" value="1">
                                  <label class="form-check-label" for="terminatorRadios1">
                                    CRLF
                                  </label>

                                  <input class="form-check-input" type="radio" name="terminatorRadios" id="terminatorRadios2" value="2">
                                  <label class="form-check-label" for="terminatorRadios2">
                                    CR
                                  </label>
                                </div>
                              <!-- End of Radio -->
                            </fieldset>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </body>
</html>
